go 1.23.7

use (
	./packages/db
	./packages/env
	./packages/message_queue
	./packages/rate_limiter
	./services/crowdify
	./services/crowdify/integration
	./services/messenger
	./services/track_processor
	./tools/cli
	./tools/kafka
)
